.docs{
    width: 100%;
}

.doc-container{
    font-family: title-font;
    font-size: 30px;
    padding-bottom: 8px;
    width: 100%;
}

.doc-card{
    font-family: main-font;
    font-size: 20px;
    box-shadow: md-card-2;
    padding: 15px;
    margin-top: 10px;
    
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
   
}

.doc-title, .doc-startDate{
    font-family: main-font;
    
}

.doc-title{
    font-size: 22px;
    // font-weight: bold;
}

.doc-startDate{
    font-size: 16px;
    color: lightBlue;
}

