// Default MD card designs

md-card-1 = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
md-card-2 = 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
md-card-3 = 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
md-card-4 = 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
md-card-5 = 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


.doc-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.doc-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.doc-header .mdl-layout__header-row {
  padding-left: 40px;
}

.doc-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.doc-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.doc-layout.is-small-screen .doc-content {
  padding: 40px 28px;
}

.doc-content h3 {
  margin-top: 48px;
}

.doc-footer {
  padding-left: 40px;
}

.doc-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}