.tute-items{
    width: 100%;
    bottom: 0;
    margin-bottom: 85px;
    // margin-top: 60px;
}
    
.tute-topic{
    font-family: main-font;
    font-size: 18px;
    box-shadow: md-card-2;
    padding: 10px;
    margin-top: 10px;
    
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.tute-head{
    font-family: title-font;
    font-size: 28px;
    // font-weight: bold;
    // padding-bottom: 8px;
    width: 100%;
}

.topic-title{
    font-family: main-font;
    font-size: 20px;
    // font-weight: bold;
    // padding-bottom: 8px;
    
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: streach;
    align-items: flex-start;
}

.tute-topics{
    margin: 30px;
}

.percentage{
    font-family: main-font;
    font-size: 30px;
}

.tute-vote-yes, .tute-vote-no{
    // margin: 10px;
    height: 55px;
    width: 75px; 

    // box-shadow: md-card-1;
    // border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tute-vote-yes{
    fill: limeGreen;
}

.tute-vote-no{
    fill: coral;
}


.tute-vote{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}


.tute-tutor, .tute-tutor-email{
    font-size: 14px;
    color: black;
}

.tute-tutor{
    font-weight: bold;
}

.tute-timer{
    font-family: Arial;
    font-size: 18px;
}

.comprende, .nonComprende{
    // font-family: Arial;
    font-size: 30px;   
    padding: 10px;
}
    
.comprende {
    color: green;
}

.nonComprende {
    color: red;
}