@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/roboto-v15-latin-regular.woff2') format('woff2'), 
       url('fonts/roboto-v15-latin-regular.woff') format('woff'), 
       url('fonts/roboto-v15-latin-regular.ttf') format('truetype'),
       url('fonts/roboto-v15-latin-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'),
       url('fonts/Lobster-Regular.ttf') format('truetype');
}

