.contents {
    // border: 1px solid gray;
    padding: 10px;
    
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    // background-color: white;
    // outline: 0px solid transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contents-button{
    font-family: 'Arial';
    font-size: 14px;
    // color: blue;
    border: none;
    background: transparent;
}

.contents-button:hover{
    background: lightGray;
}


// .contents-button{
//     font-family: main-font;
//     font-size: 16px;
//     border: none;
//     min-width: 100px;
//     margin-bottom: 10px;
//     background: white;
// }