
.docs{
    width: 100%;
    margin-bottom: 80px;
}



.doc-section-paragraph, .doc-section-heading{
    font-family: 'Computer';
    draggable: true
}

.doc-section-heading{
    font-size: 30px;
}

.doc-section-paragraph{
    font-size: 14px;
}

.doc-container{
    font-family: title-font;
    font-size: 30px;
    padding-bottom: 8px;
    width: 100%;
}

.doc-card{
    font-family: main-font;
    margin-top: 10px;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:15px;
    background-color: white;
    outline: 0px solid transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.doc-title, .doc-startDate{
    font-family: main-font;
    
}

.doc-title{
    font-size: 22px;
    // font-weight: bold;
}

.doc-startDate{
    font-size: 16px;
    color: lightBlue;
}

